@font-face {
    font-family: 'icofont';
    src: url(".//icofont.ttf?e50d59240438c76eb637745eb4e65655") format("truetype"),
url(".//icofont.woff?e50d59240438c76eb637745eb4e65655") format("woff"),
url(".//icofont.woff2?e50d59240438c76eb637745eb4e65655") format("woff2");
}

i[class^='icofont-']:before, i[class*=' icofont-']:before {
    font-family: icofont !important;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icofont-trash:before {
    content: '\f101';
}
.icofont-times-small:before {
    content: '\f102';
}
.icofont-sun:before {
    content: '\f103';
}
.icofont-star:before {
    content: '\f104';
}
.icofont-star-filled:before {
    content: '\f105';
}
.icofont-nophoto:before {
    content: '\f106';
}
.icofont-moon:before {
    content: '\f107';
}
.icofont-favorite:before {
    content: '\f108';
}
.icofont-favorite-fill:before {
    content: '\f109';
}
.icofont-compare:before {
    content: '\f10a';
}
.icofont-cart:before {
    content: '\f10b';
}
.icofont-arrow-up:before {
    content: '\f10c';
}
.icofont-arrow-right:before {
    content: '\f10d';
}
.icofont-arrow-left:before {
    content: '\f10e';
}
.icofont-arrow-down:before {
    content: '\f10f';
}
