@use "sass:map";

$icofont-font: 'icofont';

@font-face {
    font-family: $icofont-font;
    src: url(".//icofont.ttf?029befe0fa230776e8790be3c323fd4b") format("truetype"),
url(".//icofont.woff?029befe0fa230776e8790be3c323fd4b") format("woff"),
url(".//icofont.woff2?029befe0fa230776e8790be3c323fd4b") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icofont {
    font-family: $icofont-font !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    font-size: 1rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icofont-map: (
    'trash': '\f101',
    'times-small': '\f102',
    'sun': '\f103',
    'star': '\f104',
    'star-filled': '\f105',
    'nophoto': '\f106',
    'moon': '\f107',
    'favorite': '\f108',
    'favorite-fill': '\f109',
    'compare': '\f10a',
    'cart': '\f10b',
    'arrow-up': '\f10c',
    'arrow-right': '\f10d',
    'arrow-right-line': '\f10e',
    'arrow-left': '\f10f',
    'arrow-down': '\f110',
);

.icofont-trash:before {
    content: map.get($icofont-map, 'trash');
}
.icofont-times-small:before {
    content: map.get($icofont-map, 'times-small');
}
.icofont-sun:before {
    content: map.get($icofont-map, 'sun');
}
.icofont-star:before {
    content: map.get($icofont-map, 'star');
}
.icofont-star-filled:before {
    content: map.get($icofont-map, 'star-filled');
}
.icofont-nophoto:before {
    content: map.get($icofont-map, 'nophoto');
}
.icofont-moon:before {
    content: map.get($icofont-map, 'moon');
}
.icofont-favorite:before {
    content: map.get($icofont-map, 'favorite');
}
.icofont-favorite-fill:before {
    content: map.get($icofont-map, 'favorite-fill');
}
.icofont-compare:before {
    content: map.get($icofont-map, 'compare');
}
.icofont-cart:before {
    content: map.get($icofont-map, 'cart');
}
.icofont-arrow-up:before {
    content: map.get($icofont-map, 'arrow-up');
}
.icofont-arrow-right:before {
    content: map.get($icofont-map, 'arrow-right');
}
.icofont-arrow-right-line:before {
    content: map.get($icofont-map, 'arrow-right-line');
}
.icofont-arrow-left:before {
    content: map.get($icofont-map, 'arrow-left');
}
.icofont-arrow-down:before {
    content: map.get($icofont-map, 'arrow-down');
}
